{{ "<!-- Sponsors Section -->" | safeHTML }}
{{ if isset .Site.Params "sponsors" }}
{{ if .Site.Params.sponsors.enable }}
{{ if gt (len .Site.Data.sponsors) 0 }}
<section id="sponsors" class={{ if .Site.Params.sponsors.bg }} "bar background-gray no-mb"
	{{ else if .Site.Params.sponsors.pattern }} "bar background-pentagon no-mb" 
	{{ else if .Site.Params.sponsors.photo1 }} "bar background-image-fixed-1" 
	{{ else if .Site.Params.sponsors.photo2 }} "bar background-image-fixed-2" 
	{{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{ if isset .Site.Params.sponsors "title" }}
				<div class="heading text-center">
					<h2>{{ .Site.Params.sponsors.title }}</h2>
				</div>
				{{ end }}
				{{ if isset .Site.Params.sponsors "subtitle" }}
				<div class="heading text-center">
					<h3>{{ .Site.Params.sponsors.subtitle }}</h3>
				</div>
				{{ end }}
			</div>
			<div class="col-md-12">

				<h2>
					{{ .Site.Params.sponsors.tier1 }}
				</h2>

				
					{{ range .Site.Data.sponsors.tier1 }}
						{{ if .url }}
						<div class="col-md-6"><a href="{{ .url }}" target="_blank">
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}"/>
						</a>
						</div>
						{{ else }}
						<div class="col-md-6">
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
						</div>
						{{ end }}
					{{ end }}
			</div>
			<div class="col-md-12">
				<h2>
					{{ .Site.Params.sponsors.tier2 }}
				</h2>				
					{{ range .Site.Data.sponsors.tier2 }}
						{{ if .url }}
						<div class="col-md-4">
						<a href="{{ .url }}" target="_blank">
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
						</a>
						</div>
						{{ else }}
						<div class="col-md-4">
						<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
						</div>
						{{ end }}
					{{ end }}
			</div>
			<div class="col-md-12">
					<h2>
						{{ .Site.Params.sponsors.tier3 }}
					</h2>
	
					{{ range .Site.Data.sponsors.tier3 }}
							{{ if .url }}
							<div class="col-md-3">
							<a href="{{ .url }}" target="_blank">
								<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
							</a>
							</div>
							{{ else }}
							<div class="col-md-3">
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
							</div>
							{{ end }}
						{{ end }}
			</div>
			<div class="col-md-12">
				
						<h2>
							{{ .Site.Params.sponsors.tier4 }}
						</h2>
			
							{{ range .Site.Data.sponsors.tier4 }}
									{{ if .url }}
									<div class="col-md-3">
										<a href="{{ .url }}" target="_blank">
											<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
										</a>
										
									</div>
									{{ else }}
									<div class="col-md-3">
										<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
										
									</div>
									{{ end }}
								{{ end }}
				
			</div>
			<div class="col-md-12">
	
						<h2>
							{{ .Site.Params.sponsors.tier5 }}
						</h2>
				
							{{ range .Site.Data.sponsors.tier5 }}
									{{ if .url }}
									<div class="col-md-2">
										<a href="{{ .url }}" target="_blank">
											<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
										</a>
									</div>
									{{ else }}
									<div class="col-md-2">
										<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
									</div>
									{{ end }}
								{{ end }}
				
			</div>
					<div class="col-md-12">
						<h2>
							{{ .Site.Params.sponsors.tier6 }}
						</h2>
				
								{{ range .Site.Data.sponsors.tier6 }}
										{{ if .url }}
										<div class="col-md-2">
											<a href="{{ .url }}" target="_blank">
												<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
											</a>
										</div>
										{{ else }}
										<div class="col-md-2">
											<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="{{ .scale }}" />
										</div>
										{{ end }}
									{{ end }}
					</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
{{ end }}